<a href="https://colab.research.google.com/github/mfmarlonferrari/KNN_recommender/blob/main/KNNRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [128]:
##Dataset url: https://grouplens.org/datasets/movielens/latest/

import pandas as pd
import numpy as np

pd.options.display.max_columns = 500
pd.options.display.max_rows = 500

In [26]:
movies_df = pd.read_csv('https://raw.githubusercontent.com/mfmarlonferrari/KNN_recommender/main/movies.csv',usecols=['movieId','title'],dtype={'movieId': 'int32', 'title': 'str'})

In [27]:
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [28]:
rating_df=pd.read_csv('https://raw.githubusercontent.com/mfmarlonferrari/KNN_recommender/main/ratings.csv',usecols=['userId', 'movieId', 'rating'],
    dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [29]:
rating_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [30]:
df = pd.merge(rating_df,movies_df,on='movieId')
df.head()

   userId  movieId  rating             title
0       1        1     4.0  Toy Story (1995)
1       5        1     4.0  Toy Story (1995)
2       7        1     4.5  Toy Story (1995)
3      15        1     2.5  Toy Story (1995)
4      17        1     4.5  Toy Story (1995)

In [31]:
df.shape

(100836, 4)

In [42]:
## First lets create a Pivot matrix

movie_features_df=df.pivot_table(index='userId',columns='title',values='rating').fillna(0)
movie_features_df.head()

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              0.0  ...                                        0.0
2              0.0  ...                                        0.0
3              0.0  ...                                        0.0
4              0.0  ...                                        0.0
5              0.0  ...                                        0.0

[5 rows x 9719 columns]

In [141]:
from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [142]:
movie_features_df.shape

(610, 9719)

In [147]:
query_index = 230
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 3)

In [163]:
usuario = movie_features_df.index[query_index]

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recomendando para usuário {0}:\n'.format(usuario))
    else:
        print('Usuário recomendado {0}: {1}, distância de {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recomendando para usuário 231:

Usuário recomendado 1: 494, distância de 0.4555293321609497:
Usuário recomendado 2: 30, distância de 0.5850610733032227:

In [170]:
idx_recomendado = movie_features_df.index[indices.flatten()[1]]

In [171]:
idx_recomendado

494

In [172]:
recomendado = movie_features_df.loc[idx_recomendado].to_frame()
base = movie_features_df.loc[usuario].to_frame()

In [193]:
#PEGA OS FILMES QUE O USUARIO AINDA NAO ASSISTIU
novos_titulos = pd.merge(base,recomendado,on='title',how='inner').sort_values(by=idx_recomendado, ascending=False)
novos_titulos = novos_titulos[(novos_titulos[idx_recomendado] > 0) & (novos_titulos[usuario] == 0)].reset_index()
novos_titulos

                                                title  231  494
0                                    Gladiator (2000)  0.0  5.0
1                                   Braveheart (1995)  0.0  5.0
2                          Saving Private Ryan (1998)  0.0  5.0
3                      Godfather: Part II, The (1974)  0.0  5.0
4   Good, the Bad and the Ugly, The (Buono, il bru...  0.0  4.0
5   Star Wars: Episode VI - Return of the Jedi (1983)  0.0  4.0
6                           Lawrence of Arabia (1962)  0.0  3.0
7                                     Stargate (1994)  0.0  3.0
8                               Dead Pool, The (1988)  0.0  3.0
9                                Jurassic Park (1993)  0.0  3.0
10                                   Mask, The (1994)  0.0  2.0
11                  Ace Ventura: Pet Detective (1994)  0.0  1.0

In [194]:
novos_titulos.title

0                                      Gladiator (2000)
1                                     Braveheart (1995)
2                            Saving Private Ryan (1998)
3                        Godfather: Part II, The (1974)
4     Good, the Bad and the Ugly, The (Buono, il bru...
5     Star Wars: Episode VI - Return of the Jedi (1983)
6                             Lawrence of Arabia (1962)
7                                       Stargate (1994)
8                                 Dead Pool, The (1988)
9                                  Jurassic Park (1993)
10                                     Mask, The (1994)
11                    Ace Ventura: Pet Detective (1994)
Name: title, dtype: object